.cardLarge {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left: 5px;
}

.cardLarge * {
  font-family: var(--font-family-tweet);
}

.cardText {
  color: var(--twitter-color-8);
  margin-bottom: 0;
  white-space: pre-wrap;
}

.cardText > a {
  color: var(--twitter-color-4);
  font-size: 15px;
  text-decoration: none;
}

.cardText > a:hover {
  text-decoration: underline;
}

.cardText > a:visited {
  color: var(--twitter-color-4);
}

.textarea {
  background: var(--twitter-color-1);
  border: 1px solid var(--twitter-color-5);
  color: var(--twitter-color-8);
  min-height: 80px;
  max-width: 100%;
  width: 100%;
}

.cardLink {
  text-decoration: none;
}

.cardContainer {
  border: 1px solid var(--twitter-color-5);
  border-radius: 14px;
  margin-top: 10px;
  width: 507px;
}

.imageContainer {
  border-bottom: 1px solid var(--twitter-color-5);
  height: 265px;
  z-index: 1;
}

.image {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 100%;
  max-width: 100%;
  width: 100%;
  z-index: -1;
}

.contentContainer {
  background: var(--twitter-color-1);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  line-height: 20px;
  padding: 10px;
  z-index: 1;
}

.title {
  color: var(--twitter-color-6);
  font-size: 15px;
  font-weight: 400;
}

.description {
  color: var(--twitter-color-3);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 400;
  -webkit-line-clamp: 2;
  margin-bottom: 2px;
  overflow: hidden;
}

.linkContainer {
  align-items: center;
  display: flex;
  color: var(--twitter-color-3);
  font-weight: 400;
}

.linkIcon {
  fill: var(--twitter-color-3);
  height: 16px;
  margin-right: 2px;
  margin-top: 4px;
  stroke: var(--twitter-color-3);
  stroke-width: 0.01em;
  width: 16px;
}
