.container {
  font-family: var(--font-family);
  width: 100%;
}

.wrapper {
  display: flex;
  height: var(--gap-6);
  padding: var(--gap-1) 0;
}

.input {
  border: 1px solid var(--light-2);
  border-radius: var(--form-border-radius);
  box-sizing: border-box;
  flex-grow: 1;
  font-family: var(--font-family);
  font-size: 16px;
  height: 100%;
  letter-spacing: -0.1px;
  padding: var(--gap-1) var(--gap-2);
}

.text {
  color: var(--light-2);
  font-size: 14px;
}
