.table {
  border: 2px solid var(--primary-1);
  border-collapse: separate;
  border-spacing: 0px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  box-sizing: border-box;
  font-family: var(--font-family-tweet);
  font-size: 15px;
  font-weight: 700;
  margin: 0 auto;
}

.header {
  padding: var(--gap-2);
}
