.textarea {
  border: 2px solid var(--primary-1);
  border-radius: var(--border-radius);
  font-family: var(--font-family-tweet);
  font-size: 15px;
  resize: none;
}

.edit {
  height: 56px;
  width: 100%;
}

.compose {
  box-sizing: border-box;
  height: 120px;
  padding: var(--gap-1);
  width: 100%;
}
