.cardTop {
  box-sizing: border-box;
  display: flex;
  font-family: var(--font-family-tweet);
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  margin-bottom: 2px;
}

.name {
  color: var(--twitter-color-8);
  font-family: var(--font-family-tweet);
  font-weight: 700;
}

.padlock {
  color: var(--twitter-color-8);
  height: 18.75px;
  margin-left: 1.5px;
  margin-top: 2px;
  width: 18.75px;
}

.handle {
  font-weight: 400;
  color: var(--twitter-color-3);
  margin-left: 4px;
}

.dot {
  align-content: center;
  color: var(--twitter-color-3);
  display: grid;
  font-weight: 500;
  height: 14px;
  padding: 2px 5px;
}

.date {
  color: var(--twitter-color-3);
  display: flex;
}

.month {
  font-weight: 400;
  margin-right: 5px;
}

.day {
  font-weight: 400;
}

.arrow {
  color: var(--twitter-color-3);
  margin-left: auto;
  width: 15px;
}
