.text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-tweet);
  font-size: 15px;
  margin-left: 5px;
  white-space: pre-wrap;
  width: 598px;
}

.cardText {
  color: var(--twitter-color-8);
  margin-bottom: 0;
  white-space: pre-wrap;
}

.cardText > a {
  color: var(--twitter-color-4);
  font-size: 15px;
  text-decoration: none;
}

.cardText > a:hover {
  text-decoration: underline;
}

.cardText > a:visited {
  color: var(--twitter-color-4);
}
