.cardText {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-tweet);
  font-size: 15px;
  margin-left: 5px;
  white-space: pre-wrap;
  width: 598px;
}

.textarea {
  background: var(--twitter-color-1);
  border: 1px solid var(--twitter-color-5);
  color: var(--twitter-color-8);
  min-height: 80px;
  max-width: 100%;
  width: 100%;
}
