:root {
  /* Forms */
  --form-border-radius: 2px;
  --form-height: 40px;
  --geist-form-large-height: 3rem;
  --geist-form-large-line-height: 1.5rem;

  --geist-form-small-font: 0.875rem;
  --geist-form-small-height: 2rem;
  --geist-form-small-line-height: 0.875rem;

  --geist-form-font: 0.875rem;
  --geist-form-height: 2.5rem;
  --geist-form-line-height: 1.25rem;
}
