:root {
  --twitter-color-1: rgb(255, 255, 255);
  --twitter-color-2: rgb(230, 236, 240);
  --twitter-color-3: rgb(101, 119, 134);
  --twitter-color-4: rgb(27, 149, 224);
  --twitter-color-5: rgb(204, 214, 221);
  --twitter-color-6: rgb(20, 23, 26);
  --twitter-color-7: rgb(245, 248, 250);
  --twitter-color-8: rgb(28, 29, 32);
}
