:root {
  /* Typography */
  --font-size: 14px;
  --font-family: "Heebo", -apple-system;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2.2em;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1.8em;
}
