.container {
  align-self: center;
  border: 1px solid rgb(230, 236, 240);
  display: flex;
  max-width: 600px;
  padding: 10px 15px;
  width: 100%;
}

.avatar {
  background: var(--light-2);
  border-radius: 50%;
  height: 48px;
  margin-right: 5px;
  width: 48px;
}

.main {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left: 5px;
}

.top {
  display: flex;
  margin-bottom: 8px;
}

.topText {
  background: var(--light-2);
  height: 24px;
  width: 248px;
}

.arrow {
  color: rgb(101, 119, 134);
  margin-left: auto;
  width: 15px;
}

.contentWrapper {
  height: 64px;
  width: 520px;
}

.content {
  background: var(--light-2);
  height: 24px;
}

.contentOne {
  margin-bottom: 8px;
  width: 512px;
}

.contentTwo {
  width: 360px;
}

.metaWrapper {
  border: 1px solid rgb(204, 214, 221);
  border-radius: 14px;
  box-sizing: border-box;
  margin-top: 10px;
}

.image {
  background: "red";
  border-bottom: 1px solid rgb(204, 214, 221);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 265px;
}

.metaContent {
  padding: 10px;
}

.metaItem {
  background: var(--light-2);
  height: 24px;
  margin-bottom: 8px;
}

.metaTitle {
  width: 196px;
}

.metaDescriptionOn {
  width: 496px;
}

.metaDescriptionTwo {
  width: 360px;
}

.metaLink {
  width: 128px;
}
